<%- include ("./partials/_header") %>
<div class="container">
    <div class="form-group ">
        <div class="col-md-5">
               <form action="/add" method="post">
                   <div class="form-group">
                       <label for="exampleInputPassword1" class="form-label mt-4">Nombres</label>
                       <input type="text"  id="id_name" placeholder="Nombres" class="form-control">
                   </div>
                   <div class="form-group">
                       <label for="exampleInputPassword1" class="form-label mt-4">Apellidos</label>
                       <input type="text" id="id_lastname" placeholder="Apellidos" class="form-control" >
                   </div>
                   <div class="form-group">
                       <label for="exampleInputPassword1" class="form-label mt-4">Apellidos</label>
                       <select  id="id_distrito" placeholder="Apellidos" class="form-select" >
                           <option value=" ">[Seleccione]</option>
                       </select>
                   </div>

               </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $.getJSON("",{},function (data){
        $.each(data,function (i,obj){
            $("id_distrito").append("<option value='"+obj +"'>"+obj+"<option>");

        });
    });

</script>
<%- include ("./partials/_footer") %>